<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Home</a>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Bicycles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="types">
                <span class="bi" aria-hidden="true"></span> Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="renters">
                <span class="bi" aria-hidden="true"></span> Renters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rents">
                <span class="bi" aria-hidden="true"></span> Rents
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="requests">
                <span class="bi" aria-hidden="true"></span> Requests
            </NavLink>
        </div>
    </nav>
</div>

